{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Diary</h3>
    <ul>
        <li>
            <a href="{{path('diary_settings_edit')}}" >Settings</a>
        </li>
        <li>
            <a href="{{path('report')}}" >Reports</a>
        </li>
        <li>
            Analysis
            <ul>
                <li>
                    <a href="{{path('analysis_project_month_diary')}}" >Diary</a>
                </li>
                <li>
                    <a href="{{path('analysis_project_resume')}}" >Project Resume</a>
                </li>
                <li>
                    <a href="{{path('analysis_project_month_resume')}}" >Project Monthly Resume</a>
                </li>
            </ul>
        </li>
    </ul>

{% endblock %}
