{{form_start(form, {attr: {class:"fos_user_change_password"}})}}
    {{form_errors(form)}}
    <div>
        {{form_label(form.new)}}
        {{form_errors(form.new)}}
        {{form_widget(form.new)}}
    </div>
    {{form_widget(form.submit, {attr:{class:"btn btn-primary" }})}}
{{form_end(form)}}
