{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% set user = shareData.user %}
{% set route = shareData.route %}
{% set params = shareData.params %}

{% block title %}blab{% endblock %}
{% block content %}

    <div class="row">
        <div class="span5">
            {% if shareData.isOwner(app.user) %}
                {{ include('DanPluginDiaryBundle:Analysis:_widgets.html.twig') }}
            {% endif %}
        </div>
        {% if project and month %}
            
            <div class="span5">
                <table class="table table-bordered" >
                    <tr>
                        <th>day</th><th>hours</th><th></th>
                    </tr>
                    {% for weeklyReports in reports %}
                        {% for dow, dailyReports in weeklyReports.reports %}
                            <tr>
                                <td>
                                    {{dailyReports.date|date('l')|slice(0,3)}} {{dailyReports.date|date('d')}}
                                </td>
                                <td>
                                    {{dailyReports.hours}}
                                </td>
                                <td>
                                    {% if shareData.isOwner(app.user) %}
                                        {% for report in dailyReports.reports %}
                                            <a href="{{path('report_edit', {id:report.id})}}" target="_blank" class="icon icon-edit"></a>
                                        {% endfor %}
                                    {% endif %}
                                    {% if dailyReports.tasks %}
                                        <ul class="tasks">
                                            {% for task in dailyReports.tasks %}
                                                <li>{% autoescape false %}{{task}}{%endautoescape%}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="span2">
                {% if project %}
                    <strong>project: </strong> {{project}}<br/>
                {% endif %}
                {% if month %}
                    <strong>month: </strong> {{month|date('F Y')|lower}}<br/>
                {% endif %}
                {% if project and month %}
                    <hr/>
                    <strong>hours:</strong> {{monthlyHours}}<br/>
                    {% if monthlyDays %}
                        <strong>days: </strong> {{monthlyDays|number_format(2)}}<br/>
                    {% endif %}
                    {% if monthlyEuro %}
                        <hr/>
                        <div style="text-align:right; font-size: 26px;" >
                            <strong>€ </strong> {{monthlyEuro|number_format(0)}}<br/>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}